.content {
	flex-grow: 1;
}

.inf {
	border: 1px solid black;
	margin-bottom: 15px;
}

body {
	background-color: #CCCCFF;
}

.content h1 {
	color: white;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;

  /*	max-width: 1200px;
  margin: auto; */
}

.tabl {
	background-color: blue;
	min-height: 100%;
	color: white;
}

.ychast {
	background-color: red;
	font-size: 45px;
	text-align: center;
	word-wrap: break-word;
	border-radius: 0em;
	color: white;
}

.ychast:hover {
	text-decoration: none;
	color: white;
}

.resultati {
	background-color: blue;
	color: white;
}

.list_tests {
	background-color: blue;
	text-indent: 10px;
	color: white;
	border-radius: 5px 5px 0 0;
}

.butcheck {
	margin-bottom: 10px;
	margin-left: 20px;
}